@media screen and (max-width: 767px) {
  .posts{
    width: 100%;
    &__overflow{
      overflow: hidden;
      width: 100%;
      display: block;
    }
    &__item{
      width: 33.3%;
      float: left;
      transition: transform 0.3s;
      opacity: 0;
      &.active{
        opacity: 1;
      }
    }
    &__inner{
      display: block;
      width: 300%;
    }
    &__dots{
      width: 100%;
      text-align: center;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__dot{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #cccccc;
      display: inline-block;
      margin-right: 20px;
      cursor: pointer;
      transition: all 0.3s;
      &:last-child{
        margin-right: 0;
      }
      &_isActive_true{
        background-color: #0062ff;
        width: 14px;
        height: 14px;
      }
    }
  }
}